<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      Latest Picture:
      <img [src]="base64Image" *ngIf="base64Image" />
      <!--<p padding>{{outputData|json}}</p>
      <p padding> productList {{bestMatchData|json}}</p>
      <!--<p>{{productList|json}}</p>-->
     <!-- <h1>{{isData}}</h1>-->
      <!--<p>{{productList|json}}</p>-->
    </ion-card-content>
  </ion-card>
  <ion-card>

  </ion-card>
  <h1>{{isdata}}</h1>
  <button ion-button (click)="takePicture()">Take a Picture</button>

  <div *ngIf="productList">
    <ion-card *ngFor="let item of productList" (click)="itemTapped($event,item);">
      <ion-card-content>
        <img [src]="item.imagePath" item-left />
        <p>{{item.name}}</p>
        <p padding>
          {{item.price}} &euro;
        </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
